@font-face{
    font-family: eurofurence light;
    src: url(font/eurof35.ttf);
}
*{
    transition: all 0.3s ease;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(110deg, #181818,#232323);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    background-color: rgba(255, 0, 0, 0.247);
    width: 13px;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb{
    background-image: -webkit-linear-gradient(#F5F5F5, #8A8A8A);
    border-radius: 30px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
    background-color: rgba(182, 182, 182, 0.445);
    border-radius: 30px;
}

a, a:active, a:hover{
    text-decoration: none;
    transition: all 0.5s ease;
}
input{
    outline: none;
}
.input-error{
    color: red;
    font-size: 13px;
    margin: 0;
    margin-top: 5px;
}
.container{
    margin: 0px auto;
    width: 90%;
    height: 100%;
    position: relative;
    align-items: center;
}
.d-flex{
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -o-flex;
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.btn-group {
    display: flex;
    flex-wrap: wrap;
}
.content{
    position: relative;
    height: 80vh;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
.offer, .slider{
    width: 50%;
    position: relative;
    height: 100%;
}

.offer{
    background: linear-gradient(124deg,#0b0b0b,#171717);
    position: relative;
    padding-left: 5%;
    overflow: hidden;
}
.offer_body{
    width: 600px;
    top: 10vh;
    position: absolute;
}
.show{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1vh 3vh;
    border: 2px solid rgb(143, 143, 143);
    color: black;
    z-index: 100;
    width: 23vh;
    font-size: 1.4vh;
    margin: 1vh auto;
    box-sizing: border-box;

}

header{
    z-index: 1000;
    width: 100%;
    height: 10vh;
    background: linear-gradient(110deg, #181818,rgb(32,32,32));
    box-shadow: 0px 2px 50px rgba(255, 0, 0, 0.2);
    position: fixed;
    top: 0;
}
header.glide {
    box-shadow: 0px 2px 1px rgba(255, 0, 0, 0.2);
}
section.first {
    margin-top: 16vh;
    position: relative;
}
.d-flex{
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -o-flex;
    display: flex;
}
.align-items-center{
    align-items: center;
}
/*логотип*/
header a.logo {
    position: relative;
    margin-right: 23vh;
    width: 17vh;
    height: 6vh;
    min-width: 10vh;
}
header .img-logo{
    object-fit: contain;
    width: 15vh;
    height: 100%;
    max-width: 150px;
    min-width: 50px;
}
/*header .logo img {
    max-width: 120px;
}*/
/*логотип*/


a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/*меню*/
ul,li{
    padding: 0;
    margin: 0;
    display: block;
}
header ul.menu{
    position: relative;
    font-size: 14px;
}
header ul.menu > li{
    margin-right: 5vh;
    letter-spacing: 0.2vh;
    text-decoration: none;
    display: block;
    position: relative;
}
header .menu > li .sub-menu {
    display: none;
    position: absolute;
    /*top: 150%;*/
    background: rgba(55, 0, 0, 0.93);
}
header .menu > li .sub-menu li {
    padding: 10px;
}
header .menu > li .sub-menu li:hover {
    background: rgb(99, 0, 0);
}
header .menu > li:hover .sub-menu,
header .menu > li .sub-menu:hover {
    display: block;
}
ul.menu a{
    font-weight: 300;
    font-size: 1.8vh;
}
ul.menu a:hover{
    color: red;
}
.header-profile{
    color: rebeccapurple;
}
.header-profile img {
    width: 25px;
    height: 25px;
}

.form-logout button{
    border: 0;
    font-size: 1.8vh;
    font-weight: 300;
    background: transparent;
    color: white;
}
.form-logout:hover{
    color: red;
}



footer{
    width: 100%;
    background: linear-gradient(rgba(140, 95, 95, 0.904),rgb(255, 255, 255));
    margin: 0;
    padding: 0;
    margin-top: 10vh;
    bottom: 0;
    position: relative;
    color: black;
    display: block;
    font-family: eurofurence light,century gothic,sans-serif;
}
footer a {
    margin-top: 2vh;
    position: relative;
}
footer a img{
    width: 5vh;
    height: 5vh;
}
.padding-top{
    padding-top: 10vh;
}
.copyright{
    text-align: center;
    margin-top: 10vh;
    position: relative;

    font-size: 2.5vh;
}
.w100{
    width: 100%;
}
.footer_item{
    margin-right: 6vh;
}
iframe.map{
    margin-top: 3vh;
    border: 0px;
    box-shadow: 0px 5px 10px;
    width: 50vh;
    height: 30vh;
}
footer h4{
    font-size: 2.5vh;
}
footer p{
    font-size: 2vh;
}
.footer_block_a{
    position: relative;
    top: 0%;
    margin: 5vh 0vh;
}
.footer_title_block_a{
    border-bottom: 0.2vh solid black;
    color: black;
    font-size: 3vh;
    width: 30vh;
    padding-left: 5vh;
    margin-bottom: 2vh;
}
.footer_a{
    margin: 0vh 1vh;
    position: relative;
}
.footer_a a{
    top: 0;
    margin: 0;
    color: blue;
    font-size: 2.5vh;
}
.looks{
    margin: 0px auto;
    text-align: center;
}
.on_top{
    position: fixed;
    bottom: 50%;
    right: -10%;
    color: red;
    background: white;
    border-radius: 50%;
    font-size: 3vh;
    padding: 1.5vh;
    box-shadow: 0px 0px 10px black;
    z-index: 100;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    iframe.map{
        width: 15vh;
        height: 10vh;
    }
}

@media only screen and (max-width: 1150px) {
    iframe.map{
        width: 30vh;
        height: 20vh;
    }
}